#Security
python-jose[cryptography]
passlib[bcrypt]
fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
pymysql
pydantic[email] #server-1  | ImportError: email-validator is not installed, run `pip install pydantic[email]`
python-multipart # def login(username: str = Form(...), password: str = Form(...)): /RuntimeError: Form data requires "python-multipart" to be installed.
jinja2 #AssertionError: jinja2 must be installed to use Jinja2Templates